@charset "utf-8";
/* CSS Document */
.wrapperSign{ width:100%;  background:#910000; margin:0 auto; font-family:"微软雅黑" }
.sign{ width:1000px; background:#FFF; padding:38px 50px;margin:0 auto; }
.sign h1{ margin:0 auto; text-align:center; width:450px; font-size:28px; line-height:35px;}
.sign .storeName{ width:300px; border-bottom:1px solid #bfbfbf;font-size:20px; color:#000;text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.sign .partyA{ margin-top:35px;}
.sign .partyA .party{ font-size:20px; color:#000;}
.sign .partyA .color83{ color:#838383; font-size:16px;}
.sign .partyA .replace{ font-size:20px; color:#000; padding-top:5px;}
.sign .partyA .plus{ background:url(../images/bg/plus.jpg) no-repeat; width:16px; height:16px; display:inline-block; vertical-align:bottom;}
.sign .signContent{ margin-top:40px; font-size:18px; line-height:28px}
.sign .signContent p{ text-indent:2em}
.sign .submit{ margin-top:30px; text-align:center;}
.sign .submit .btn{ background:url(../images/bg/btnsub.jpg) no-repeat; display:inline-block; width:106px; height:34px; line-height:34px; text-align:center; color:#FFF; font-size:20px; cursor:pointer;}
.sign .signContent .integ{ width:80px; font-size:18px; border-bottom:2px solid #8e0001; text-align:center; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.sign .signName{font-size:20px; margin-top:30px; padding-left:50px; }
.sign .signName .nameA{font-size:20px;  border:none;color:#000;}
.sign .signName .nameB{font-size:20px;  border:none;color:#000;width:400px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.sign .signDate{font-size:20px; margin-top:30px; padding-left:30px; }
.sign .signDate .nameA{font-size:20px;  border:none; width:50px; text-align:center;color:#000;}
.sign .floatLeft2{float:left;width:400px}
.sign .signDateCreditor{font-size:20px;  border:none;  text-align:center;color:#000; float:right;margin-right: 30px;}
.sign .agree{ font-size: 18px; margin-top: 10px; text-align: center}